header{
    background-color: aliceblue;
}

section.my-articles{
    background-color: lightcyan;
}

   /* UNIVERSAL SELECTOR */

*{
    color: blue;
}   


   /* ADJACENT SELECTOR */

header p{
    color: red;
}   

li a{
    color: black;
}